body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.container{
  width: 1110px;
}

.header-topline{
  width: 100%;
  height: 4px;
  background: url("../img/header-topline.png") 50% 0 repeat-x;
  margin-bottom: 20px;
}

.main-header{
  margin-bottom: 12px;
}

.slogan{
  width:430px;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  padding-top: 7px;
}

.main-header strong{
  color: #0082ad;
}

.contact-details{
  padding-left: 40px;
}

.contact-tel{
  color: #15b799;
  font-size: 28px;
  position: relative;
}

.contact-mail{
  position: relative;
  color: #0082ad;
}

.contact-tel:before,
.contact-mail:before{
  width: 16px;
  height: 16px;
  background-position: -323px -49px;
  display: block;
  content: ' ';
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  top: 8px;
}

.contact-mail:before{
  width: 16px;
  height: 12px;
  background-position: -346px -5px;
}

.navigation-menu{
  background: #ececec;
}

.navigation-menu ul{
  list-style: none;
}

.navigation-menu ul li{
  float: left;
  width: 33.3%;
  text-align: center;
  position: relative;
}

.navigation-menu ul li a{
  display: block;
  font-size: 15px;
  color: #25262a;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.navigation-menu ul li a:hover{
  background-color: #0082ad;
  color: #fff;
}

.navigation-menu ul ul{
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 10;
}

.navigation-parent:hover .navigation-child{
  display: block;
}

.navigation-menu ul ul li{
  float: none;
  width: 100%;
}

.navigation-menu ul ul a{
  background: #0082ad;
  text-transform: none;
  line-height: 130%;
  height: auto;
  text-align: left;
  font-size: 16px;
  color: #FFF;
  padding: 14px 20px;
}

.navigation-menu ul ul a:hover{
  background: #007aa3;
}

.slider{
  margin-bottom: 50px;
}

.slide{
  width: 1110px;
  height: 450px;
  background-image: url("../img/bg-slider.jpg");
  background-position: 50%;
  color: #fff;
  padding-top: 70px;
}

.slide-2{
  background: #8ad1e8;
}

.slide-3{
  background: #64c572;
}

.slide-title{
  width: 525px;
  font-size: 34px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.slide-text{
  font-size: 18px;
  line-height: 30px;
  width: 470px;
  margin-bottom: 30px;
}

.slide-btn{
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  width:254px;
  height: 52px;
  font-size: 16px;
  line-height: 36px;
  color: #333;
  margin-bottom: 25px;
}

.slide-ref{
  display: block;
  width: 300px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
}

.controls{
  width: 1110px;
  height: 100px;
  margin: auto;
  height: auto;
  position: relative;
}

.controls div{
  position: absolute;
  font-size: 50px;
  height: 100%;
  top: -275px;
  left: -60px;
  color: #fff;
}

.controls .next{
  left: 100%;
}

.feature-money{
  margin-bottom: 50px;
}

.section-title{
  font-size: 34px;
  line-height: 50px;
  margin-bottom: 40px;
  color: #133a81;
  text-align: center;
  font-weight: 600;
}

.feature-item{
  padding-top: 160px;
  position: relative;
}

.feature-item::before{
  position: absolute;
  content: "";
  background: url("../img/sprite.png");
  top:0;
  left: 50%;
}

.col-price::before{
  width: 108px;
  height: 107px;
  background-position: -267px -135px;
  margin-left: -54px;
}

.col-timing::before{
  width: 108px;
  height: 107px;
  background-position: -267px -252px;
  margin-left: -54px;
}

.col-factoring::before{
  width: 108px;
  height: 107px;
  background-position: -267px -252px;
  margin-left: -54px;
}

.col-delay::before{
  width: 121px;
  height: 120px;
  background-position: -192px -5px;
  margin-left: -60px;
}

.col-waiting-period::before{
  width: 121px;
  height: 120px;
  background-position: -136px -135px;
  margin-left: -60px;
}

.col-amount::before{
  width: 121px;
  height: 120px;
  background-position: -61px -5px;
  margin-left: -60px;
}

.feature-item__title{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.feature-item__text{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 0 15px;
}

.financing{
  background-image: url("../img/bg-features.jpg");
  color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}

.financing  .section-title{
  color: #fff;
  text-transform: uppercase;
}

.gf-network{
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../img/bg-gf-network.jpg") 50% 0 no-repeat;
}

.gf-network .section-title{
  color: #4ac6b7;
}

.gf-network p{
  margin-bottom: 80px;
}

.gf-network .feature-item{
  padding: 0;
  padding-left: 130px;
}

.gf-network .col-with-regress::before{
  left: 0;
  top: 50%;
  margin-top: -60px;
  width: 121px;
  height: 120px;
  background-position: -5px -135px;
}

.gf-network .col-no-regress::before{
  left: 0;
  top: 50%;
  margin-top: -60px;
  width: 121px;
  height: 120px;
  background-position: -136px -265px;
}

.col-with-regress{
  margin-bottom: 100px;
}

.networking-advantage{
  color: #fff;
  background-color: #45b8ac;
  padding-top: 50px;
  padding-bottom: 50px;
}

.networking-advantage p{
  text-align: left;
  font-size: 34px;
  line-height: 45px;
}

.ceo-comment{
  width: 100%;
  height: 507px;
  background: url("../img/bg-ceo-comment.jpg") 50% 0;
  padding-top: 60px;
}

.ceo-container{
  width:695px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 35px;
  position: relative;
  z-index: 5;
}

/*.bg-box{
  width:330px;
  height: 330px;
  position: relative;;
  right: -150px;
  top:-150px;
  background: #0082ad;
  z-index: 1;
}*/

.ceo-comment strong{
  font-size: 18px;
  line-height:25px;
}

.ceo-comment p{
  padding-top: 15px;
  font-size:16px;
  line-height:25px;
  margin-bottom: 50px;
}

.ceo-container__logo{
  width: 380px;
}

.partners{
  background: #ededed;
  padding-bottom: 70px;
}

.partners .col-lg-3{
  width: 200px;
  margin-right: 20px;
}

.partners .col-lg-3:last-child{
  margin-right: none;
}

.comments{
  padding-top: 60px;
  padding-bottom: 65px;
}

.comments-slider{
  font-size: 15px;
  /*line-height: 25px;*/
}

.col-left,
.col-right{
  width:540px;
}

.comments-slider .row{
  padding: 0;
  margin: 0;
}
.comments-slider p{
  background: #0082ad;
  height: 180px;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.call-us{
  width: 100%;
  height: 175px;
  background: url("../img/bg-call-us.jpg") 50% 0;
}
