body{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.container{
  width: 1110px;
}

.header-topline{
  width: 100%;
  height: 4px;
  background: url("../img/header-topline.png") 50% 0 repeat-x;
  margin-bottom: 20px;
}

.main-header{
  margin-bottom: 12px;
}

.slogan{
  width:430px;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  padding-top: 7px;
}

.main-header strong{
  color: #0082ad;
}

.contact-details{
  padding-left: 40px;
}

.contact-tel{
  color: #15b799;
  font-size: 28px;
  position: relative;
}

.contact-mail{
  position: relative;
  color: #0082ad;
}

.contact-tel:before,
.contact-mail:before{
  width: 16px;
  height: 16px;
  background-position: -293px -265px;
  display: block;
  content: ' ';
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  top: 8px;
}

.contact-mail:before{
  width: 16px;
  height: 12px;
  background-position: -267px -265px;
}

.navigation-menu{
  background: #ececec;
}

.navigation-menu ul{
  list-style: none;
}

.navigation-menu ul li{
  float: left;
  width: 33.3%;
  text-align: center;
  position: relative;
}

.navigation-menu ul li a{
  display: block;
  font-size: 15px;
  color: #25262a;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.navigation-menu ul li a:hover{
  background-color: #0082ad;
}

.navigation-menu ul ul{
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 10;
}

.navigation-parent:hover .navigation-child{
  display: block;
}

.navigation-menu ul ul li{
  float: none;
  width: 100%;
}


.navigation-menu ul ul a{
  background: #0082ad;
  text-transform: none;
  line-height: 130%;
  height: auto;
  text-align: left;
  font-size: 16px;
  color: #FFF;
  padding: 14px 20px;
}

.navigation-menu ul ul a:hover{
  background: #007aa3;
}

.slider{
  margin-bottom: 50px;
}

.slide{
  width: 1110px;
  height: 450px;
  background-image: url("../img/bg-slider.jpg");
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}

.slide-2{
  background: #8ad1e8;
}

.slide-3{
  background: #64c572;
}

.slide-title{
  width: 525px;
  font-size: 34px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.slide-text{
  font-size: 18px;
  line-height: 30px;
  width: 470px;
  margin-bottom: 30px;
}

.slide-btn{
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  width:254px;
  height: 52px;
  font-size: 16px;
  line-height: 36px;
  color: #333;
  margin-bottom: 25px;
}

.slide-ref{
  display: block;
  width: 300px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
}

.controls{
  width: 1110px;
  height: 100px;
  margin: auto;
  height: auto;
  position: relative;
}

.controls div{
  position: absolute;
  font-size: 50px;
  height: 100%;
  top: -275px;
  left: -80px;
  color: #fff;
}

.controls .next{
  left: 100%;
}

.features{
  margin-bottom: 60px;
}

.row-1{
  height:490px;
}

.row-2{
  height: 450px;
}

.features-slogan{
  font-size: 34px;
  line-height: 50px;
  margin-bottom: 40px;
  color: #133a81;
  text-align: center;
}

.feature-item{
  outline: 2px solid red;
}

.feature-item__title{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.feature-item__text{
  width: 300px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.row-2{
  background-image: url("../img/bg-features.jpg");
}

.row-2 .feature-item{
  color: #fff;
}
